.aside
	p Рекомендуем также
	ul
		li
			a(href="#") Edinburgh by REHAU
		li
			a(href="#") Estet by REHAU
		li
			a(href="#") REHAU DELIGHT-Design
		li
			a(href="#") REHAU BRILLANT-Design
		li
			a(href="#") REHAU Geneo
		li
			a(href="#") Цветные окна
		li
			a(href="#") Стеклопакеты
		li
			a(href="#") Остекление балконов #[<br>] и лоджий
		li
			a(href="#") Отделка #[<br>] и утепление балконов
		li
			a(href="#") Балконные блоки