.row.justify-content-between.align-items-end.comments-header
	.col-xl-auto.col-lg-auto.col-md-auto.col-sm-auto.header
		h3 Отзывы о цветных пластиковых окнах
	.col-xl-auto.col-lg-auto.col-md-auto.col-sm-auto.align-self-center.link
		a(href="#") посмотреть еще отзывы
.comments
	.comments__container
		p.author Алена,
		p.number Договор № 09.10.33512.13
		p.date Дата размещения: 13 декабря 2013 года
		.stars
			img(src="./img/comments-icon-stars.png")
		p.text Поставили нам окна во всей квартире.Все очень понравилось)))компания на 5+.Все очень любезные,гибкая система скидок!!!буду советовать всем!!!Сервис был на высоте,во-первых с поставкой получилось быстрее,во-вторых два раза приезжал замерщик Алексей,ему большое спасибо...
		.read-link
			a(href="#")
				img(src="./img/comments-icon-read.png")
				span прочитать полностью
		button оставить отзыв