header
	.row.no-gutters.align-items-end
		.col-xl-auto.col-lg-auto.col-md-auto.col-sm-auto.header__logo
			img(src="./img/logo.png")
		.col-xl-auto.col-lg-auto.col-md-auto.col-sm-auto.header__link
			a#link(href="#main") Рассчитать стоимость
		.col-xl-auto.col-lg-auto.col-md-auto.col-sm-auto.header__contacts
			span.time с 9 до 21 без выходных
			span.phone +7 495 534-65-33
	.row.no-gutters
		.col
			a(href="#") О компании
		.col
			a(href="#") Цены
		.col
			a(href="#") Услуги и продукты
		.col
			a(href="#") Акции
		.col
			a(href="#") Контакты
