.info
	.row.section-1
		.col-12
			h3 Зачем использовать ламинацию
		.col-xl-auto.col-lg-auto.col-md-auto.col-sm-auto.section-1__img
			img(src="./img/info-img1.png")
		.col.section-1__text
			| Чтобы придать внешнему виду окна оригинальную выразительность, специалисты применяют ламинацию – приём, при помощи которого можно декорировать своё жилье с учетом самых современных веяний дизайнерского искусства.
	.row.section-1
		.col-xl-auto.col-lg-auto.col-md-auto.col-sm-auto.section-1__img
			img(src="./img/info-img2.png")
		.col.section-1__text
			| При помощи ламинации оконного профиля можно, например, со всей точностью воспроизвести оттенки и структуру древесины: при этом обеспечивается полная визуализация натурального дерева, точно имитирующая расположение волокон. Помимо имитации деревянных поверхностей, применяют пленку самых разных цветов и фактур.
	.row.align-items-center.section-2
		.col-12
			h3 Как окна становятся цветными?
		.col-xl-auto.col-lg-auto.col-md-auto.col-sm-auto.section-2__img
			img(src="./img/info-img-counter1.png")
		.col.section-2__text
			| Собственно, процесс ламинации профиля ПВХ состоит в процедуре нанесения на его поверхность декоративных высокопрочных плёнок с применением специального клея и ламинирующих установок.
	.row.align-items-center.section-2
		.col-xl-auto.col-lg-auto.col-md-auto.col-sm-auto.section-2__img
			img(src="./img/info-img-counter2.png")
		.col.section-2__text
			| Плёнку прочно соединяют с профилем. При этом внешней стороне пленки свойственна высокая стойкость к повреждениям. В частности, цветное пластиковое окно, прошедшее процесс ламинации, стойко переносит температурные колебания в диапазоне от -80°С до +130°С, оно исключительно стойко к солнечному излучению.
	.row.align-items-center.section-2
		.col-xl-auto.col-lg-auto.col-md-auto.col-sm-auto.section-2__img
			img(src="./img/info-img-counter3.png")
		.col.section-2__text
			| Пластиковые окна, прошедшие процесс ламинации профилей, имеют срок службы гораздо больший, чем не ламинированные окна. В сравнении с окнами из массива дерева, они значительно дешевле.