.main__content#main
	p Создайте выразительный интерьер с цветными окнами REHAU
	.row.no-gutters
		.main__content__img
			img(src="./img/triangle.png")
			p Ирландский дуб
		.col.main__content__description
			ul.ul__description
				li Точная визуализация натурального дерева.
				li Яркие нестандартные цвета в тон или в дополнение интерьера.
				li Разные фактуры для Ваших пластиковых окон.
			p Подберите цвет для своих окон:
				form(action="#")
					input(type="radio" name="windowColor" id="0" value="0" checked)
					label(for="0")
						img(src="./img/color-block1.png" class="windowColorImg")
					input(type="radio" name="windowColor" id="1" value="1")
					label(for="1")
						img(src="./img/color-block2.png" class="windowColorImg")
					input(type="radio" name="windowColor" id="2" value="2")
					label(for="2")
						img(src="./img/color-block3.png" class="windowColorImg")
					input(type="radio" name="windowColor" id="3" value="3")
					label(for="3")
						img(src="./img/color-block4.png" class="windowColorImg")
					input(type="radio" name="windowColor" id="4" value="4")
					label(for="4")
						img(src="./img/color-block5.png" class="windowColorImg")
					input(type="radio" name="windowColor" id="5" value="5")
					label(for="5")
						img(src="./img/color-block6.png" class="windowColorImg")
					input(type="radio" name="windowColor" id="6" value="6")
					label(for="6")
						img(src="./img/color-block7.png" id="windowColorImg6")
					p Больше 50 вариантов  цветов и фактур спрашивайте #[<br>] у наших замерщиков
					input(type="submit" value="Рассчитать со скидкой 70%")#calculateButton
					a(href="#") или отправить заявку и получить консультацию